*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 10%;
    transition: ease .40s;
}

.header_title{
    font-size: 2.3rem;
    font-weight: 800;
    color: indigo;
    margin-top: -3px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    display: flex;
}

.navbar a{
    color: black;
    margin: 0px 7px;
    padding: 7px 7px;
    font-size: 1.1rem;
    font-weight: 300;
    transition: ease .40s;
}

.navbar a:hover{
    color: black;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 15px black;
}

#menu_icon{
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 20px 10%;
}

.home{
    
    width: 100%;
    height: 100vh;
    background-image: url(images/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.home_content_h1{
    font-size: 2.6rem;
    padding: 0px 0px 30px 0px;
    margin-top: 100px;
    margin-left: 230px;
    width: 500px;
}

.home_content_p{
    margin-top: 10px;
    margin-left: 260px;
    width: 400px;
    font-size: 1.5rem;
    color: indigo;
    text-align: center;
    
}

.home_content_botm{
    position: absolute;
    bottom: 20px;
    left: 300px;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
}

#header.sticky{
    background: black;
    padding: 10px 10%;
    transition: ease .40s;
}

.sticky .navbar a{
    color: white;
}

.sticky .navbar a:hover{
    color: black;
    box-shadow: 0px 0px 15px white;
    transition: ease .40s;
}

.package{
    background-color: gray;
    padding-top: 60px;
}

.holiday_packages{
    margin-bottom: 20px;
}

.packages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: ease .40s;
}

.places{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px 3px white;
}

.img{
    width: 220px;
    height: 200px;
}

.place_details{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.italic{
    font-style: italic;
    font-weight: 100;
}

.Place_price{
    text-align: center;
}

.place_name{
    font-weight: 600;
}

.contents h1{
    font-size: 2rem;
    text-align: center;
    padding: 5px 5px 10px 5px;
    color: burlywood;
}

.contents p{
    padding: 10px 10px 20px 10px;
    font-size: 1.2rem;
    text-align: justify;
    color: white;
}

.destinations{
    background-color: grey;
    padding-top: 60px;
}

.dest_title{
    font-size: 2rem;
    text-align: center;
    padding: 5px 5px 15px 5px;
    color: black;
}

.dest_places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dest_place{
    box-shadow: 0 0 7px 3px white;
    width: 280px;
    height: 400px;
    margin: 20px;
    border-radius: 8px;
    position: relative;
}

#tajMahal{
    background-image: url(images/tajMahal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#monaLisa{
    background-image: url(images/monaLisa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#sol{
    background-image: url(images/statueOfLiberty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#nlights{
    background-image: url(images/northernLights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#stonehenge{
    background-image: url(images/stonehenge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#niagara{
    background-image: url(images/niagaraFalls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dest_place_p{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: red;
    font-size: 1.3rem;
    font-weight: 600;
}








